@page {
    size: A4;
    margin: 0mm;
}

body {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.a4-page {
    
    width: 210mm;
    height: 297mm;
    padding-top: 10mm;
    padding-right: 20mm;
    padding-bottom: 10mm;
    padding-left: 20mm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

h1 {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
}

p {

    font-size: 14pt;
    text-align: justify;
    margin-bottom: 1px;
    word-spacing: 5px;
}

.certificate {

    border: 2px solid black;
    font-size: 12pt;
    text-align: justify;
    max-width: 100%;
    margin-top: 10px;
    line-height: 2;
    margin-bottom: 60px;
}

.certificate1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.certificate2 {

    border: 2px solid black;
    padding: 15px;
    font-size: 12pt;
    text-align: justify;
    max-width: 100%;
    margin-top: 10px;
    line-height: 1.3;
    margin-bottom: 40px;
}


.a1 {
    text-indent: 20mm;
    text-align-last: justify;
}

.a1,
.a2,
.a3,
.a4 {
    text-align-last: justify;
}

.a5 {
    word-spacing: 30px;
    line-height: 4;
}

.certificate1 span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0px;
    background: linear-gradient(to right, black 100%, transparent 0%) no-repeat;
    background-position: bottom 5px center;
    background-size: 100% 1px;
    
}

.signature,
.signature2 {
    margin-top: -30px;
    text-align: right;
    font-size: 12pt;
    padding-right: 40px;
    padding-bottom: 60px;
}

.signature1 {
    margin-top: 20px;
    text-align: left;
    line-height: 1.9;
    padding-left: 10px;


}

@media print {
    .a4-page {
        page-break-after: always;
        box-shadow: none;
        margin-bottom: 0;
    }

    body {
        background: none;
        padding: 0;
    }

    #hideIngg,
    #hideIng {
        display: none;
    }

    .watermark {
        display: block !important;
        print-color-adjust: exact;
    }
}

@media print {
    .certificate1 span {
        background: linear-gradient(to right, black 100%, transparent 0%) no-repeat !important;
        background-size: 100% 0.7px !important; /* Thinner line */
        background-position: bottom 5px center !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}



.table2 {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}

.table2 th,
.table2 td {

    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.table2 th {
    font-weight: bold;
}

.table2 td:first-child,
.table2 th:first-child {
    width: 50px;
    white-space: nowrap;
}

.certificate,
.certificate2 {
    position: relative;
    overflow: hidden;
    /* Ensures the watermark does not overflow */
}

.certificate::before,
.certificate2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('govt.svg') no-repeat center;
    background-size: contain;
    /* Ensures it fits inside */
    opacity: 0.04;
    /* Transparency of watermark */
    z-index: 0;
    /* Keeps it behind content */
    pointer-events: none;
    /* Ensures it does not interfere */
}


